<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wydxda.seat.mapper.SeatTypeMapper">
  <resultMap id="BaseResultMap" type="com.wydxda.seat.model.SeatType">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="isShow" jdbcType="INTEGER" property="isShow" />
  </resultMap>

  <select id="findAll" resultMap="BaseResultMap">
    select * from ls_seat_type
  </select>
</mapper>